# Make sure to enable 'Require status checks to pass before merging' on the branch protection,
# and to select the 'Build-and-Push' action.

name: Build and Push

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  Build-and-Push:
    runs-on: ubuntu-latest
    if: github.event.pull_request.base.ref != 'main'

    steps:
      - name: Checkout master
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          push: true
          tags: |
            ghcr.io/vzauartcc/api:${{ github.sha }}
            ghcr.io/vzauartcc/api:buildcache
          cache-from: type=registry,ref=ghcr.io/vzauartcc/api:buildcache
          cache-to: type=registry,ref=ghcr.io/vzauartcc/api:buildcache,mode=max
